name: Check-In App 

on:
  push:
    branches: [main, develop]
    paths:
      - 'apps/check-in/**'
  pull_request:
    branches: [develop, main]
    paths:
      - 'apps/check-in/**'


defaults:
  run:
    working-directory: apps/check-in
    
jobs:

  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20]
    env:
      NEXT_PUBLIC_API_URL: http://localhost:4000
      NEXT_PUBLIC_SITE_URL: http://localhost:3000
      
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install
      - name: Build project
        run: pnpm build

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Azure/static-web-apps-deploy@v1
        with:
          # azure_static_web_apps_api_token: ${{ secrets.CHECK_IN_APP_TOKEN }}
          app_location: "apps/check-in"
          output_location: ".next"

  # test:
  #   timeout-minutes: 60
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v5

  #   - name: Install pnpm
  #     uses: pnpm/action-setup@v4
  #   - name: Use Node.js ${{ matrix.node-version }}
  #     uses: actions/setup-node@v4
  #     with:
  #       node-version: ${{ matrix.node-version }}
  #       cache: "pnpm"
  #   - name: Install dependencies
  #     run: pnpm install
  #   - name: Install Playwright Browsers
  #     run: npx playwright install --with-deps
  #   - name: Run Playwright tests
  #     run: npx playwright test
  #   - uses: actions/upload-artifact@v4
  #     if: ${{ !cancelled() }}
  #     with:
  #       name: playwright-report
  #       path: playwright-report/
  #       retention-days: 30

  # deploy:
    # runs-on: ubuntu-latest
    # container: ghcr.io/railwayapp/cli:latest
    # env:
    #   SVC_ID: my-service-id
    #   RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    # steps:
    #   - uses: actions/checkout@v3
    #   - run: railway up --service=${{ env.SVC_ID }}